

circle{
  margin: 1em;
}
.reserva{
  fill: red;
  stroke:black;
  stroke-width:2;
}
.noAsignado{
  fill:none;
  stroke: blue;
  stroke-width: 2px;
}
.noAsignado:hover{
  fill:yellow;
  stroke: blue;
  stroke-width: 2px;
}
.Asignado{
  fill:green;
  stroke: blue;
  stroke-width: 2px;
}
.Asignado:hover{
  fill:orange;
  stroke: red;
  stroke-width: 2px;
}
