

circle{
  margin: 1em;
}
.reserva{
  fill: red;
  stroke:black;
  stroke-width:2;
}
.noAsignado{
  fill:white;
  stroke: blue;
  stroke-width: 2px;
}
.noAsignado:hover{
  fill:yellow;
  stroke: blue;
  stroke-width: 2px;
}
.Asignado{
  fill:green;
  stroke: blue;
  stroke-width: 2px;
}
.Asignado:hover{
  fill:orange;
  stroke: red;
  stroke-width: 2px;
}

textarea{
  min-width: 160px;
  max-width: 160px;
  min-height:  100px;
  max-height:  100px;
}
